@use '../base/variables' as v;

.heading--h1 {
    color: v.$text-color;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 105px; /* 131.25% */
    letter-spacing: 4px;
}