@use '../base/variables' as v;
@use '../base/mixins' as m;

.heading--h1 {
    color: v.$text-color;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @include m.mq(large) {
        font-size: 50px;
    }
    
    @include m.mq(small) {
        font-size: 32px;
    }
}

.heading--h2 {
    color: v.$text-color;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}
