@use 'variables' as v;
@use 'mixins' as m;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$font-family-poppins: 'Poppins', sans-serif;

body {
  font-family: $font-family-poppins;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-poppins;
}

p, span, a, li, div {
  font-family: $font-family-poppins;
  color: v.$text-color-darker;
}

p, span {
  // color: v.$text-color;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 138.889% */

  @include m.mq(medium) {
    font-size: 16px;
  }
}
