// COLORS
$background-color: #0F0F0F;
$text-color: #EDEDED;
$text-color-darker: #dadada;
$primary: #f7a900;

// SPACING DESKTOP
$desktop-margin-horizontal: 320px;
$desktop-max-width: calc(100vw - ($desktop-margin-horizontal * 2));
$desktop-section-margin-bottom: 180px;

// SPACING MOBILE
$mobile-section-margin-bottom: 60px;