// COLORS
$background-color: #F7F4F2;
$text-color: #262626;
$primary: #F34242;

// SPACING DESKTOP
$desktop-margin-horizontal: 220px;
$desktop-max-width: calc(1920px - ($desktop-margin-horizontal * 2));

