@use '../base/variables' as v;
@use '../base/mixins' as m;

body {
    background-color: v.$background-color;
    max-width: 1600px;
    margin: 0 auto;
}

main {
    display: flex;
    gap: 100px;

    max-width: v.$desktop-max-width;
    margin: 0 auto;

    @include m.mq(xxlarge) {
        max-width: calc(100vw - 100px * 2);
    }

    @include m.mq(xlarge) {
        max-width: calc(100vw - 100px * 2);
    }

    @include m.mq(large) {
        max-width: calc(100vw - 60px * 2);
        display: block;
    }

    @include m.mq(small) {
        max-width: calc(100vw - 20px * 2);
    }
}